.containerDashboard {
  width: 100%;
  height: 100%;

  .topContent {
    width: 100%;
    height: 8%;
    flex-direction: row;
    align-items: center;
    display: flex;

    .blockTop {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;

      .topLeft {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .topRight {
        width: 50%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        display: flex;

        .inputCenter {
          width: 200px;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    .itemButton {
      width: 40px;
      height: 40px;
      border-radius: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .bottomContent {
    width: 100%;
    height: 92%;
  }
}

.modalContainer {
  width: 60% !important;
  height: 65%;
}

.formModal {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99;

  .fullWidth {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .topModal {
      width: 100%;
      height: 10%;
      background-color: #27cb96;

      .titleTop {
        font-size: 18px;
        padding: 10px;
        color: white;
      }
    }

    .contentModal {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      .contentLeftModal {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }

      .contentRightModal {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        .iconSelect {
          position: absolute;
          top: 18px;
          right: 10px;
          z-index: 0;
          cursor: pointer;
        }
      }

     
    }

    .bottomModal {
      width: 100%;
      height: 10%;
      background-color: white;
      justify-content: flex-end;
      align-items: center;
      display: flex;

      .buttonCancel {
        margin-right: 15px;
        background-color: white;
        color: black;
        border-color: rgba(0, 0, 0, 0.28);
      }

      .buttonSubmit {
        margin-right: 15px;
        background-color: #3db389;
      }
    }
  }
}

.inputValue {
  width: 90%;
  margin-left: 15px;
  padding-right: 15px;

  height: 70px;
}

.ant-select-selection {
  background-color: green;
}
.selectValue {
  width: 100%;
  // height: 90px !important;
}

.ant-select-selector {
  height: 50px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
}

.heightInput {
  height: 50px;
}