* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homeContainer {
  width: 100%;
  height: 100vh;
  background-color: green;
  display: flex;
  flex-direction: row;
}

.trigger {
  // padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  background: rgba(68,90,100,255);
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid green;
}

.titleHeader {
  color: white;
}

.itemMenu {
  height: 60px !important;
  background-color: rgba(68,90,100,255) !important;
  border-bottom: 1px solid black;
  border-radius: 0 !important;
  width: 100%;
  .item {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;

    .itemTitle {
      color: white;
    }
  }
}

.headerLeft {
  width: 15%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.headerRight {
  width: 85%;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15;

  .blockAvatar {

    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color:#27cb96;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
  }
}