.tableDataContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .topContent {
    width: 100%;
    overflow: auto;
    height: 93%;
  }

  .bottomContent {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    padding-right: 10px;

    .leftBottom {
      width: 50%;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
      display: flex;

      .titleItem {
        font-size: 16px;
      }
    }

    .rightBottom {
      width: 50%;
      height: 100%;
      align-self: center;
      display: flex;
      justify-content: flex-end;

      .blockPaging {
        width: 100px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;

        .page {
            width: 30px;
            height: 30px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }
    }
  }
}
