* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: row;

    & > .containerLeft {
        width: 18%;
        height: 100%;
        background-color: 'yellow';
    }

    & > .containerRight {
        width: 82%;
        height: 100%;
        background-color: blue;
    }
  }